out/*
gen/*
.idea/*
!.idea/copyright/
build/*
.gradle/*
keystore.properties
Juick.apk
local.properties
*.keystore
*.iml
.DS_Store
release/**
google/**
huawei/**
free/**
.kotlin
src/store/*
!src/store/AndroidManifest.xml
src/google/google-services.json
# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output
.env
