out/*
gen/*
.idea/*
!.idea/copyright/
build/*
.gradle/*
keystore.properties
Juick.apk
local.properties
*.keystore
*.iml
.DS_Store
release/**
google/**
huawei/**
free/**
/google-services.json
/agconnect-services.json
