<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.juick" android:versionCode="41" android:versionName="3.0" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="13"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:icon="@drawable/ic_launcher" android:label="@string/Juick" android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name="com.juick.android.MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" android:host="juick.com"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
