name: Android CI

on: [push, pull_request]

jobs:
  check:

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        FLAVOR: [Free, Huawei, Google]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'
    - name: Build
      run: ./gradlew --no-daemon lint${{ matrix.FLAVOR }}Debug
