name: Android CI

on: [push, pull_request]

jobs:
  check:

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        FLAVOR: [Free, Huawei, Google]
    steps:
    - uses: actions/checkout@v2
    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
       path: ~/.gradle/caches
       key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
       restore-keys: ${{ runner.os }}-gradle    
    - name: Build
      run: gradle --no-daemon lint${{ matrix.FLAVOR }}Debug
  connectedCheck:
    runs-on: macos-latest
    strategy:
      matrix:
        BUILD_SDK: [16, 21, 29]
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
       path: ~/.gradle/caches
       key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
       restore-keys: ${{ runner.os }}-gradle
    - name: run tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: ${{ matrix.BUILD_SDK }}
        target: google_apis
        script: gradle --no-daemon connectedGoogleDebugAndroidTest
